<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>fleet_wise_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsignmentServlet</display-name>
    <servlet-name>ConsignmentServlet</servlet-name>
    <servlet-class>controller.ConsignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsignmentServlet</servlet-name>
    <url-pattern>/ConsignmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteServlet</display-name>
    <servlet-name>RouteServlet</servlet-name>
    <servlet-class>controller.RouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteServlet</servlet-name>
    <url-pattern>/RouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HubServlet</display-name>
    <servlet-name>HubServlet</servlet-name>
    <servlet-class>controller.HubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HubServlet</servlet-name>
    <url-pattern>/HubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleServlet</display-name>
    <servlet-name>VehicleServlet</servlet-name>
    <servlet-class>controller.VehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleServlet</servlet-name>
    <url-pattern>/VehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverServlet</display-name>
    <servlet-name>DriverServlet</servlet-name>
    <servlet-class>controller.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverServlet</servlet-name>
    <url-pattern>/DriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleServlet</display-name>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>controller.ScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/ScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverDashboardServlet</display-name>
    <servlet-name>DriverDashboardServlet</servlet-name>
    <servlet-class>controller.DriverDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverDashboardServlet</servlet-name>
    <url-pattern>/DriverDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripServlet</display-name>
    <servlet-name>TripServlet</servlet-name>
    <servlet-class>controller.TripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripServlet</servlet-name>
    <url-pattern>/TripServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripFetchServlet</display-name>
    <servlet-name>TripFetchServlet</servlet-name>
    <servlet-class>controller.TripFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripFetchServlet</servlet-name>
    <url-pattern>/TripFetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDriverServlet</display-name>
    <servlet-name>UpdateDriverServlet</servlet-name>
    <servlet-class>controller.UpdateDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDriverServlet</servlet-name>
    <url-pattern>/UpdateDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRouteServlet</display-name>
    <servlet-name>UpdateRouteServlet</servlet-name>
    <servlet-class>controller.UpdateRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRouteServlet</servlet-name>
    <url-pattern>/UpdateRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteViewServlet</display-name>
    <servlet-name>RouteViewServlet</servlet-name>
    <servlet-class>controller.RouteViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteViewServlet</servlet-name>
    <url-pattern>/RouteViewServlet</url-pattern>
  </servlet-mapping>
</web-app>